extends adminlayout
block content
	div.row
		- if (folder != "")
			div.col-12.col-lg-6
				h1=title
				h3=subtitle
				hr
				h1=folder
			div.col-12.col-lg-6
				div.well.well-large
					center
						h3="Drag files here"
	div.row
		- each file in files
			div.col-lg-3
				div.thumbnail
					- if (file.isDirectory)
							a(href="/admin?folder="+file.name)
								img(data-src="holder.js/300x200")
								p=file.name
					- if (file.isFile)
						-if (file.thumbExists)
							img(src="data:image/jpg;base64,"+file.thumb)
							p=file.name
						- else
							a.generateLink(data-value="/generate?folder="+folder+"&file="+file.name, href="#")
								img(data-src="holder.js/300x200")
								p=file.name
