extends adminlayout
block content
	h1=title
	h3=subtitle
	div.container.col-12.col-lg-6
		div.panel
			div.panel-heading
				="Folder"
			div.list-group
				- each file in files
					a.list-group-item.openFolder(href="#", onclick="return false", data-folder=file.name)
						label.glyphicon.glyphicon-folder-close=" " + file.name
		div.panel
			div.panel-heading
				="Folder Contents "
				em="Click and drag pictures from here"
			div.list-group#folder-contents
	div.container.col-12.col-lg-6
		div.panel
			div.panel-heading
				="Albums"
			div.list-group
				div.list-group-item
					div.input-group
						input#newalbumname.form-control(type="text", placeholder="New Album Name")
						span.input-group-addon.glyphicon.glyphicon-plus
							a.new-album(href="#", onclick="return false")=" New Album"
				- each a in album
					a.list-group-item.openAlbum(href="#", onclick="return false", data-album=a.album)
						label.glyphicon.glyphicon-folder-close=" " + a.name
		div.panel.well
			div.panel-heading
				="Album Contents "
				em="Click and drag pictures to here."
