extends adminlayout

block content
	h1=title
	h3=subtitle
	div.row
		div.panel.col-12.col-lg-7
			div.panel-heading
				="Folder Manage"
			div.well.upload-files
				h3.text-center="Drag files here"
		div.col-12.col-lg-5
			h3="Select Folder"
			div.list-group
				a.list-group-item(id="newFolder")
					span.glyphicon.glyphicon-plus=" New Folder"
				- each file in files
					a.list-group-item.active.selectFolder
						label.glyphicon.glyphicon-folder-close=" " + file.name
