extends adminlayout

block content
	h1=title
	h3=subtitle
	div.row
		div.panel.col-12.col-lg-7
			div.panel-heading
				="Folder Manage"
			div.well.upload-files
				h3.text-center="Drag files here"
		div.col-12.col-lg-5
			h3="Select Folder"
			div.list-group
				div.list-group-item
					div.input-group
						input#newfoldername.form-control(type="text", placeholder="New Folder Name")
						span.input-group-addon.glyphicon.glyphicon-plus
							a.new-folder(href="#", onclick="return false")=" New Folder"
				- each file in files
					a.list-group-item.selectFolder(href="#", onclick="return false", data-folder=file.name)
						label.glyphicon.glyphicon-folder-close=" " + file.name
