extends adminlayout

block content
	h1=title
	h3=subtitle
	ul.list-group
		- each option in options
			li.list-group-item
				div.row
					div.col-7.col-lg-7
						h3
							=option.name
							=": "
						p=option.description
					div.col-5.col-lg-5.text-right
						- if (option.options)
							div.btn-group
								-for (opt in option.options)
									- if(option.options[opt] == option.value)
										button.btn.btn-primary=opt
									- else
										button.btn.btn-default=opt
						- else
							h3=option.value